# Source files
src/
tests/
examples/

# Config files
.github/
.gitignore
.vscode/
.husky/
tsconfig.json
tsup.config.ts
.eslintrc.cjs
.eslintrc.*
.prettier*
.prettierrc.json
.prettierignore
vitest.config.ts
eslint.config.ts

# Development files
*.test.ts
*.spec.ts
.changeset/

# CI/CD
.travis.yml
.circleci/

# Misc
*.md
!README.md
!LICENSE
.DS_Store
coverage/
.env*

node_modules
SECURITY.md
package-lock.json
.vscode/*
*.config.*

dist
